@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root {
  --primary-color: #0B3954;
  --secondary-color: #087E8B;
  --accent-color: #C81D25;
  --additional-accent-color: #FF5A5F;
  --heading-font: 'Sigmar', sans-serif;
  --paragraph-font: Arial, sans-serif;
  --nav-background-color: #BF6D3A;
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #BF6D3A;
  --nav-hover-background-color: #FFFFFF;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h2 {
  text-align: center;
}


header {
  padding: 20px;
  background-color: var(--secondary-color);
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

header img {
  justify-self: start;
}

nav {
  display: flex;
  justify-content: flex-end;
}


main {
  padding: 5px;
  position: relative;
}

p {
  padding: 40px 0;
  color: var(--secondary-color);
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 2px 2px var(--accent-color);
    margin-top: 20px;
  }

.hero .mission {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.hero .mission h2 {
  color: var(--primary-color);
}

.hero .mission p {
  color: var(--secondary-color);
  
}

.hero .small-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  max-width: 200px;
  margin: 0;
  z-index: -1;
}


.sociallinks a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 10px;
  border-bottom: none;
}

.sociallinks a:hover {
  opacity: 0.8;
  border-bottom: none;
}

.rafting-images {
  display: flex;
  justify-content: space-between;
}

.rafting-images img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

.employee-profiles {
  display: flex;
  flex-direction: row;
}

.employee-profiles .profile {
  flex: 1;
  text-align: center;
}

.employee-profiles .profile img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}